<mat-card>
    <h1>{{formType}}</h1>
    <form #studentsForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <p>
        <mat-form-field>
            <input 
                matInput placeholder="Grade_math"
                [(ngModel)] = "Grade_math"
                name = "Grade_math"
                type="number"
                required>
        </mat-form-field> 
        </p>
        <p>
        <mat-form-field>
                <input 
                    matInput placeholder="Psychometric"
                    [(ngModel)] = "Psychometric"
                    name = "Psychometric"
                    type="number"
                    required>
        </mat-form-field>
      </p>  
      <p>
        
        <mat-form-field>
          <mat-label>Is tuition paid?</mat-label>
          <select matNativeControl
          [(ngModel)] = "Tuition_paid"
          name = "Tuition_paid"
           required>
            <option value="True">Yes</option>
            <option value="False">No</option>
          </select>
        </mat-form-field>
      </p> 
        <div >
          <button mat-raised-button *ngIf = "!res" (click) ="predict(Grade_math,Psychometric,Tuition_paid)" >חיזוי</button>
        </div>
        <div *ngIf = "res">
          {{res}}
        </div>
        <div >
            <button mat-raised-button *ngIf = "res" (click) = "submit()" >{{buttonText}}</button>
            <button mat-raised-button *ngIf = "res" (click) = "res =null" >Cancel</button>
        </div>
      </div>
    </form>
    </mat-card>
