<br>
<div class="bye">
        <div *ngIf = "(authService.user | async)?.uid, else other">
            <h1> Welcome to Orelmz Test :) </h1> <br><html>{{email}}</html>
            <p >You Logged In Successfully</p>
        </div>
        <ng-template #other>
            <h1>Welcome</h1>
            <b>You not connected ,Please go up Login or Sign Up.</b>
        </ng-template>
</div>