
<div *ngIf = "(auth.getUser()|async)">

<mat-accordion *ngIf = "(auth.getUser()|async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let student of students;let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
         {{student.mail}}
        </mat-panel-title>
        <mat-panel-description>
          </mat-panel-description>
          <!-- <button mat-raised-button color="warn" (click)="deleteStudent(student.id)">Delete</button> -->

          <mat-icon class="icon"
          color= "wran"
          (click) = "deleteStudent(student.id)">delete
        </mat-icon>
         
      </mat-expansion-panel-header>
      <p><b>Grade math: </b> {{student.Grade_math}}</p>
      <p><b>Score Psychometric: </b> {{student.Psychometric}}</p>
      <p><b>Tuition paid: </b> {{student.Tuition_paid}}</p>
       <span >{{student.result}}</span>
      <button *ngIf = "!student.result" mat-raised-button color="primary" (click)="predict(i)">Predict</button>
  
 
      
 
    </mat-expansion-panel>
  </mat-accordion>

</div>